// general subtitle values

@mixin subtitle {
  font-size: toRem(35);
  line-height: 130%;
  letter-spacing: 0.06em;
}

@mixin subtitle-mobile {
  font-size: toRem(25);
  line-height: 130%;
  letter-spacing: 0.06em;
}

@mixin subtitle-mobile {
  font-size: toRem(25);
  line-height: 130%;
  letter-spacing: 0.06em;
}
// general text values

@mixin text {
  @include arial-normal;
  font-size: toRem(15);
  line-height: 160%;
}

// fonts

@mixin georgia-normal {
  font-family: 'Georgia';
  font-weight: normal;
  font-style: normal;
}

@mixin georgia-bold {
  font-family: 'Georgia';
  font-weight: bold;
  font-style: normal;
}

@mixin georgia-italic {
  font-family: 'Georgia';
  font-weight: bold;
  font-style: italic;
}

@mixin arial-normal {
  font-family: 'Arial';
  font-style: normal;
  font-weight: normal;
}

@mixin arial-italic {
  font-family: 'Arial';
  font-style: italic;
  font-weight: normal;
}

//media
@mixin mobile-small {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin max-mobile {
  @media (max-width: $max-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin max-tablet {
  @media (max-width: $max-tablet) {
    @content;
  }
}

@mixin decstope {
  @media (min-width: $decstope) {
    @content;
  }
}

@mixin max-decstope {
  @media (max-width: $max-decstope) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}
