$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-white: #ffffff;

$color-dark-one: #545454;
$color-dark-3xl: #292929;
$color-dark-m: #b2b2b2;

$color-light-1: #f6f6f6;
$color-light-s: #fafafa;
$color-light-l: #cdcdcd;

$background-start: url(../img/background-pattern/pattern.png),
  radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

$background-footer: url(../img/background-pattern/pattern.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);

$transition: all ease-in-out 0.3s;
