/*layout-container*/

.container {
  max-width: toRem(1280);
  margin: 0 auto;
  padding: 0 toRem(10);
  @include tablet {
    padding: 0 toRem(30);
  }
  @include decstope {
    padding: 0 toRem(40);
  }
}
