/*layout-footer*/

.footer {
  background-image: $background-footer;
  width: 100%;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include max-tablet {
      align-items: center;
      padding-top: toRem(14);
      row-gap: toRem(8);
    }
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: toRem(13);
      column-gap: toRem(60);
      row-gap: toRem(30);
    }
    @include decstope {
      justify-content: space-between;
      padding-top: toRem(41);
    }
  }

  &__contacts {
    max-width: toRem(279);
    @include max-tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: toRem(17);
    }
    @include tablet {
      @include max-decstope {
        align-items: flex-start;
        margin-bottom: 0;
        padding-top: toRem(14);
      }
    }
    @include decstope {
      padding-top: toRem(16);
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-bottom: toRem(27);
    font-size: toRem(20);
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    transition: $transition;
    @include decstope {
      margin-bottom: toRem(28);
    }
    @include hover {
      &:hover {
        opacity: 0.75;
      }
    }
  }

  &__contacts &__contact {
    @include max-tablet {
      justify-content: center;
    }
    @include tablet {
      justify-content: left;
    }
  }

  &__location &__contact {
    @include max-tablet {
      justify-content: left;
      margin-bottom: toRem(34);
    }
    @include max-decstope {
      justify-content: left;
      margin-bottom: toRem(29);
    }
  }

  &__location {
    max-width: toRem(300);
    @include tablet {
      padding-top: toRem(16);
    }
  }

  &__title {
    @include subtitle-mobile;
    margin-bottom: toRem(33);
    color: $color-white;
    text-align: center;
    @include tablet {
      @include subtitle;
      margin-bottom: toRem(32);
      text-align: left;
      width: 100%;
    }
  }

  &__location &__title {
    @include max-tablet {
      max-width: toRem(240);
      margin: 0 auto;
      margin-bottom: toRem(37);
    }
    @include tablet {
      margin-bottom: toRem(32);
      max-width: 100%;
    }
  }

  &__icon {
    margin-right: toRem(18);
  }

  &__img {
    width: toRem(260);
    @include tablet {
      width: toRem(300);
      height: toRem(310);
    }
  }
}

.icon-icon-email::before {
  font-size: toRem(30);
  line-height: 150%;
  font-family: 'icomoon';
  content: '\e900';
  color: #f1cdb3;
}

.icon-icon-marker:before {
  font-size: toRem(30);
  line-height: 150%;
  font-family: 'icomoon';
  content: '\e901';
  color: #f1cdb3;
}
.icon-icon-phone:before {
  font-size: toRem(30);
  line-height: 150%;
  font-family: 'icomoon';
  content: '\e902';
  color: #f1cdb3;
}
