.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(53);
  &__icon {
    @include georgia-bold;
    padding: toRem(14) toRem(16);
    border: 2px solid $color-primary;
    border-radius: 100px;
    color: $color-dark-3xl;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
