/*pages-index*/

.header-main {
  z-index: 1;
  & .logo {
    &__title {
      color: $color-primary;
      transition: $transition;
    }
    &__subtitle {
      color: $color-white;
    }
    @include hover {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  @include tablet {
    & .navigation {
      &__link {
        color: $color-light-l;
        &_active {
          color: $color-light-s;
        }
      }
      @include hover {
        &__link:hover {
          color: $color-light-s;
        }
        &__link:active {
          color: $color-primary;
        }
      }
    }
  }
  @include max-tablet {
    & .navigation {
      background-color: $color-dark-3xl;
      &__link {
        color: $color-light-s;
        &_active {
          color: $color-white;
        }
      }
    }
  }
}

@import '../sections/not-only';
@import '../sections/about';
@import '../sections/our-friends';
@import '../sections/help';
@import '../sections/in-addition';
