/*pages-pets*/
.header-pets {
  & .logo {
    &__subtitle {
      color: $color-dark-3xl;
    }
    &:hover {
      color: $color-dark-3xl;
    }
  }
  & .navigation {
    &__link:hover {
      color: $color-dark-3xl;
    }
  }
  .header__popup {
    &_line {
      background-color: $color-black;
    }
  }
}

@import '../sections/friends';
