/*pages-pets*/
.header-pets {
  & .logo {
    &__subtitle {
      color: $color-dark-3xl;
    }
    @include hover {
      &:hover {
        color: $color-dark-3xl;
      }
    }
  }
  & .navigation {
    @include hover {
      &__link:hover {
        color: $color-dark-3xl;
      }
    }
  }
  .header__popup {
    &_line {
      background-color: $color-black;
    }
  }
  @include max-tablet {
    & .navigation {
      background-color: $color-white;
    }
  }
}

@import '../sections/friends';
