/*base-font*/
@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial-ItalicMT.woff2") format("woff2"), url("../fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Italic.woff2") format("woff2"), url("../fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Bold.woff2") format("woff2"), url("../fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/footer-icon/icomoon.eot?lg21d9");
  src: url("../fonts/footer-icon/icomoon.eot?lg21d9#iefix") format("embedded-opentype"), url("../fonts/footer-icon/icomoon.ttf?lg21d9") format("truetype"), url("../fonts/footer-icon/icomoon.woff?lg21d9") format("woff"), url("../fonts/footer-icon/icomoon.svg?lg21d9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*base-reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

address {
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* components-logo */
.logo {
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.logo__title {
  font-size: 2rem;
  letter-spacing: 0.06em;
  line-height: 110%;
  margin-bottom: 0.63rem;
}
.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 0.81rem;
  line-height: 115%;
  letter-spacing: 0.1em;
}

/* components-navigation */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.19rem;
}
.navigation__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 0.94rem;
  line-height: 160%;
  line-height: 160%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.navigation__link_active {
  border-bottom: 3px solid #f1cdb3;
}

/* components-buttons */
.button {
  padding: 0.94rem 2.81rem;
  border-radius: 6.25rem;
  background-color: #f1cdb3;
  color: #292929;
  font-size: 1.06rem;
  letter-spacing: 0.06em;
  line-height: 130%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.button:hover {
  background-color: #fddcc4;
  color: #545454;
}
.button:active {
  background-color: #f1cdb3;
}

.button-outline {
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
}

/* components-card */
.card {
  width: 16.88rem;
  min-height: 27.19rem;
  padding-bottom: 1.88rem;
  background-color: #fafafa;
  border-radius: 0.56rem;
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.card__img {
  margin-bottom: 1.88rem;
  max-width: 100%;
  height: auto;
}
.card__title {
  font-size: 1.25rem;
  line-height: 120%;
  margin-bottom: 1.75rem;
  letter-spacing: 0.06em;
}
.card__button {
  letter-spacing: 0.06em;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.card:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .card__button {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}
.card:active .card__button {
  background-color: #ffffff;
}

/*pagination components*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.pagination__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-size: 1.25pxrem;
  color: #292929;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.pagination__icon:not(.pagination__icon_inactive):not(.pagination__number):hover {
  background-color: #f1cdb3;
}
.pagination__icon_inactive {
  border-color: #cdcdcd;
  color: #cdcdcd;
  cursor: default;
}
.pagination__number {
  background-color: #f1cdb3;
}

/* layout-wrapper */
html,
body {
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  height: 100%;
  color: #545454;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.text {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 0.94rem;
  line-height: 160%;
}

.subtitle {
  font-size: 2.19rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

/*layout-container*/
.container {
  width: 80rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

/*layout-footer*/
.footer {
  background-image: url(../img/background-pattern/pattern.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);
  width: 100%;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.5rem;
}
.footer__contacts {
  max-width: 17.56rem;
  padding-top: 1rem;
}
.footer__location {
  max-width: 18.75rem;
  padding-top: 1rem;
}
.footer__title {
  color: #ffffff;
  margin-bottom: 1.88rem;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.88rem;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.footer__contact:hover {
  opacity: 0.75;
}
.footer__img {
  width: 18.75rem;
  height: tpRem(310);
}

.icon-icon-email::before {
  font-size: 30px;
  line-height: 150%;
  margin-right: 1.25rem;
  font-family: "icomoon";
  content: "\e900";
  color: #f1cdb3;
}

.icon-icon-marker:before {
  font-size: 30px;
  line-height: 150%;
  margin-right: 1.25rem;
  font-family: "icomoon";
  content: "\e901";
  color: #f1cdb3;
}

.icon-icon-phone:before {
  font-size: 30px;
  line-height: 150%;
  margin-right: 1.25rem;
  font-family: "icomoon";
  content: "\e902";
  color: #f1cdb3;
}

/*layout-header*/
.header {
  padding: 1.88rem 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*layout-slider*/
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.31rem;
}
.slider__icon {
  padding: 0.88rem 1rem;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  color: #292929;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.slider__icon:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}
.slider__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*pages-index*/
.header-main {
  z-index: 1;
}
.header-main .logo__title {
  color: #f1cdb3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.header-main .logo__subtitle {
  color: #ffffff;
}
.header-main .logo:hover {
  opacity: 0.8;
}
.header-main .navigation__link {
  color: #cdcdcd;
}
.header-main .navigation__link_active {
  color: #fafafa;
}
.header-main .navigation__link:hover {
  color: #fafafa;
}
.header-main .navigation__link:active {
  color: #f1cdb3;
}

/*not-only section*/
.not-only {
  background-image: url(../img/background-pattern/pattern.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  width: 100%;
  margin-top: -7.63rem;
}
.not-only__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11.38rem;
}
.not-only__content {
  max-width: 28.75rem;
  margin-top: 10.19rem;
}
.not-only__title {
  max-width: 19.38rem;
  margin-bottom: 2.63rem;
  font-size: 2.75rem;
  line-height: 130%;
  color: #ffffff;
}
.not-only__text {
  margin-bottom: 2.63rem;
  color: #fafafa;
}
.not-only__button {
  display: inline-block;
}

/*about section*/
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 10.94rem 6.25rem;
}
.about__content {
  max-width: 26.88rem;
  padding: 0.88rem 0;
}
.about__title {
  max-width: 23.13rem;
  margin-bottom: 1.5rem;
}
.about__text:not(:last-child) {
  margin-bottom: 1.56rem;
}

/*our friends section*/
.our-friends {
  background-color: #f6f6f6;
}
.our-friends__wrapper {
  padding-top: 4.88rem;
  padding-bottom: 7.25rem;
  text-align: center;
}
.our-friends__title {
  margin-bottom: 3.63rem;
}
.our-friends__slider {
  margin-bottom: 4.56rem;
}

/*help section*/
.help__wrapper {
  padding-top: 4.94rem;
  padding-bottom: 6.25rem;
  text-align: center;
}
.help__title {
  margin-bottom: 3.63rem;
}
.help__list {
  padding: 0 5.06rem;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 7.5rem;
     -moz-column-gap: 7.5rem;
          column-gap: 7.5rem;
  row-gap: 3.44rem;
}
.list__icon {
  margin-bottom: 1.88rem;
}
.list__title {
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

/*in-addition section*/
.in-addition {
  background-color: #f6f6f6;
}
.in-addition__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.88rem;
  padding-top: 5rem;
  padding-bottom: 6.19rem;
}
.in-addition__img {
  max-width: 100%;
}
.in-addition__content {
  max-width: 23.75rem;
  text-align: left;
}
.in-addition__title {
  max-width: 18.75rem;
  margin-bottom: 1.25rem;
}
.in-addition__subtitle {
  margin-bottom: 1.25rem;
  font-size: 0.94rem;
  letter-spacing: 0.06em;
}
.in-addition__card {
  display: inline-block;
  margin-bottom: 1.25rem;
  padding: 0.63rem 0.94rem;
  background-color: #f1cdb3;
  border-radius: 0.56rem;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.in-addition__card:hover {
  background-color: #fddcc4;
}
.in-addition__icon {
  margin-right: 0.63rem;
}
.in-addition__text {
  font-family: "Arial";
  font-style: italic;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 150%;
  color: #b2b2b2;
}

/*pages-pets*/
.header-pets .logo__subtitle {
  color: #292929;
}
.header-pets .logo:hover {
  color: #292929;
}
.header-pets .navigation__link:hover {
  color: #292929;
}

/*friends section*/
.friends {
  background-color: #f6f6f6;
  padding-top: 5rem;
  padding-bottom: 6.31rem;
  text-align: center;
}
.friends__title {
  margin-bottom: 3.56rem;
}
.friends__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.44rem;
     -moz-column-gap: 2.44rem;
          column-gap: 2.44rem;
  row-gap: 1.69rem;
  margin-bottom: 3.56rem;
}