/*base-font*/
@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial-ItalicMT.woff2") format("woff2"), url("../fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Italic.woff2") format("woff2"), url("../fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Bold.woff2") format("woff2"), url("../fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/footer-icon/icomoon.eot?lg21d9");
  src: url("../fonts/footer-icon/icomoon.eot?lg21d9#iefix") format("embedded-opentype"), url("../fonts/footer-icon/icomoon.ttf?lg21d9") format("truetype"), url("../fonts/footer-icon/icomoon.woff?lg21d9") format("woff"), url("../fonts/footer-icon/icomoon.svg?lg21d9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*base-reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

address {
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* components-logo */
.logo {
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.logo__title {
  font-size: 2rem;
  letter-spacing: 0.06em;
  line-height: 110%;
  margin-bottom: 0.63rem;
}
.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 0.81rem;
  line-height: 115%;
  letter-spacing: 0.1em;
}

/* components-navigation */
@media (min-width: 48rem) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.19rem;
  }
  .navigation__link {
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    font-size: 0.94rem;
    line-height: 160%;
    line-height: 160%;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .navigation__link_active {
    border-bottom: 3px solid #f1cdb3;
  }
}

/* components-buttons */
.button {
  display: inline-block;
  padding: 0.94rem 2.81rem;
  border-radius: 6.25rem;
  background-color: #f1cdb3;
  color: #292929;
  font-size: 1.06rem;
  letter-spacing: 0.06em;
  line-height: 130%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media (hover: hover) {
  .button {
    background-color: #fddcc4;
    color: #545454;
  }
}
.button:active {
  background-color: #f1cdb3;
}

.button-outline {
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
}

/* components-card */
.card {
  width: 16.88rem;
  min-height: 27.19rem;
  padding-bottom: 1.88rem;
  background-color: #fafafa;
  border-radius: 0.56rem;
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.card__img {
  margin-bottom: 1.88rem;
  max-width: 100%;
  height: auto;
}
.card__title {
  font-size: 1.25rem;
  line-height: 120%;
  margin-bottom: 1.75rem;
  letter-spacing: 0.06em;
}
.card__button {
  letter-spacing: 0.06em;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.card:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .card__button {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}
.card:active .card__button {
  background-color: #ffffff;
}

/*pagination components*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.pagination__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-size: 1.25pxrem;
  color: #292929;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: inherit;
  cursor: pointer;
}
.pagination__btn:not(.pagination__btn_inactive):not(.pagination__number):hover {
  background-color: #f1cdb3;
}
.pagination__btn_inactive {
  border-color: #cdcdcd;
  color: #cdcdcd;
  cursor: default;
}
.pagination__number {
  cursor: default;
  background-color: #f1cdb3;
}

/* layout-wrapper */
html,
body {
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  height: 100%;
  color: #545454;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.text {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 0.94rem;
  line-height: 160%;
}

.subtitle {
  font-size: 2.19rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

/*layout-container*/
.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.63rem;
}
@media (min-width: 48rem) {
  .container {
    padding: 0 1.88rem;
  }
}
@media (min-width: 80rem) {
  .container {
    padding: 0 2.5rem;
  }
}

/*layout-footer*/
.footer {
  background-image: url(../img/background-pattern/pattern.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);
  width: 100%;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 48rem) {
  .footer__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.88rem;
    row-gap: 0.5rem;
  }
}
@media (min-width: 48rem) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0.81rem;
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
    row-gap: 1.88rem;
  }
}
@media (min-width: 80rem) {
  .footer__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2.56rem;
  }
}
.footer__contacts {
  max-width: 17.44rem;
}
@media (max-width: 48rem) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.06rem;
  }
}
@media (min-width: 48rem) and (max-width: 80rem) {
  .footer__contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
    padding-top: 0.88rem;
  }
}
@media (min-width: 80rem) {
  .footer__contacts {
    padding-top: 1rem;
  }
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.69rem;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media (min-width: 80rem) {
  .footer__contact {
    margin-bottom: 1.75rem;
  }
}
@media (hover: hover) {
  .footer__contact:hover {
    opacity: 0.75;
  }
}
@media (max-width: 48rem) {
  .footer__contacts .footer__contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 48rem) {
  .footer__contacts .footer__contact {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media (max-width: 48rem) {
  .footer__location .footer__contact {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 2.13rem;
  }
}
@media (max-width: 80rem) {
  .footer__location .footer__contact {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 1.81rem;
  }
}
.footer__location {
  max-width: 18.75rem;
}
@media (min-width: 48rem) {
  .footer__location {
    padding-top: 1rem;
  }
}
.footer__title {
  font-size: 1.56rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 2.06rem;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 48rem) {
  .footer__title {
    font-size: 2.19rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
  }
}
@media (max-width: 48rem) {
  .footer__location .footer__title {
    max-width: 15rem;
    margin: 0 auto;
    margin-bottom: 2.31rem;
  }
}
@media (min-width: 48rem) {
  .footer__location .footer__title {
    margin-bottom: 2rem;
    max-width: 100%;
  }
}
.footer__icon {
  margin-right: 1.13rem;
}
.footer__img {
  width: 16.25rem;
}
@media (min-width: 48rem) {
  .footer__img {
    width: 18.75rem;
    height: 19.38rem;
  }
}

.icon-icon-email::before {
  font-size: 1.88rem;
  line-height: 150%;
  font-family: "icomoon";
  content: "\e900";
  color: #f1cdb3;
}

.icon-icon-marker:before {
  font-size: 1.88rem;
  line-height: 150%;
  font-family: "icomoon";
  content: "\e901";
  color: #f1cdb3;
}

.icon-icon-phone:before {
  font-size: 1.88rem;
  line-height: 150%;
  font-family: "icomoon";
  content: "\e902";
  color: #f1cdb3;
}

/*layout-header*/
.header {
  padding: 1.88rem 0.63rem;
}
@media (min-width: 48rem) {
  .header {
    padding: 1.88rem 0;
  }
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__popup {
  width: 1.88rem;
  height: 1.38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}
.header__popup_line {
  width: 1.88rem;
  height: 0.13rem;
  background-color: #f1cdb3;
}
@media (min-width: 48rem) {
  .header__popup {
    display: none;
  }
}
.header__navigation {
  display: none;
}
@media (min-width: 48rem) {
  .header__navigation {
    display: block;
  }
}

/*layout-slider*/
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.06rem;
}
@media (min-width: 48rem) {
  .slider {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0rem;
  }
}
@media (min-width: 80rem) {
  .slider {
    gap: 3.31rem;
  }
}
.slider__icon {
  padding: 0.88rem 1rem;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  color: #292929;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.slider__icon:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}
.slider__icon:first-child {
  margin-right: 3.94rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 48rem) {
  .slider__icon:first-child {
    margin-right: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media (max-width: 48rem) {
  .slider__icon:last-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.slider__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 27.38rem;
  overflow-y: hidden;
  gap: 2.5rem;
}
@media (min-width: 80rem) {
  .slider__cards {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0;
    margin-bottom: 0;
    gap: 0;
  }
}

/*pages-index*/
.header-main {
  z-index: 1;
}
.header-main .logo__title {
  color: #f1cdb3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.header-main .logo__subtitle {
  color: #ffffff;
}
.header-main .logo:hover {
  opacity: 0.8;
}
@media (min-width: 48rem) {
  .header-main .navigation__link {
    color: #cdcdcd;
  }
  .header-main .navigation__link_active {
    color: #fafafa;
  }
  .header-main .navigation__link:hover {
    color: #fafafa;
  }
  .header-main .navigation__link:active {
    color: #f1cdb3;
  }
}

/*not-only section*/
.not-only {
  background-image: url(../img/background-pattern/pattern.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  width: 100%;
  margin-top: -7.63rem;
  overflow-x: hidden;
}
.not-only__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 61.94rem) {
  .not-only__wrapper {
    padding-top: 11.38rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.not-only__content {
  margin-top: 9.5rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .not-only__content {
    max-width: 28.75rem;
  }
}
@media (min-width: 48.06rem) and (max-width: 80rem) {
  .not-only__content {
    min-width: 28.75rem;
    max-width: 100%;
  }
}
@media (min-width: 61.94rem) {
  .not-only__content {
    max-width: 100%;
    text-align: left;
    margin-top: 10.19rem;
  }
}
@media (min-width: 80rem) {
  .not-only__content {
    max-width: 28.75rem;
  }
}
.not-only__title {
  margin-bottom: 2.5rem;
  font-size: 1.56rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media (min-width: 48rem) {
  .not-only__title {
    text-align: left;
    font-size: 2.75rem;
    letter-spacing: 0;
    margin-bottom: 2.63rem;
  }
}
.not-only__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 0.94rem;
  line-height: 160%;
  margin-bottom: 2.63rem;
  color: #cdcdcd;
}
@media (min-width: 48rem) {
  .not-only__text {
    text-align: left;
  }
}
.not-only__button {
  display: inline-block;
  margin-bottom: 6.56rem;
}
@media (min-width: 48rem) {
  .not-only__button {
    margin-bottom: 6.19rem;
  }
}
@media (min-width: 80rem) {
  .not-only__button {
    margin-bottom: 0;
  }
}
.not-only__img {
  min-width: 16.25rem;
  max-width: 35.56rem;
  height: auto;
  margin-left: 13%;
}
@media (min-width: 48rem) {
  .not-only__img {
    min-width: 35.56rem;
    margin-left: 19%;
  }
}
@media (min-width: 61.94rem) {
  .not-only__img {
    margin-left: 0;
  }
}
@media (min-width: 80rem) {
  .not-only__img {
    width: 43.63rem;
    height: 45.5rem;
    max-width: 100%;
  }
}

/*about section*/
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.75rem 0 2.63rem 0;
}
@media (min-width: 48rem) {
  .about__wrapper {
    padding: 4.06rem 8.75rem 6.25rem;
  }
}
@media (min-width: 80rem) {
  .about__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 10.94rem 6.25rem;
  }
}
.about__content {
  max-width: 100%;
  padding: 0.88rem 0;
  text-align: justify;
}
@media (min-width: 48rem) and (max-width: 80rem) {
  .about__content {
    min-width: 26.88rem;
    text-align: left;
  }
}
@media (min-width: 80rem) {
  .about__content {
    max-width: 26.88rem;
  }
}
.about__title {
  font-size: 1.56rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 1.5rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .about__title {
    font-size: 2.19rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
  }
}
.about__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 0.94rem;
  line-height: 160%;
  margin-bottom: 1.63rem;
  padding: 0 0.94rem;
}
@media (min-width: 48rem) {
  .about__text {
    padding: 0;
    margin-bottom: 4.13rem;
  }
}
@media (min-width: 80rem) {
  .about__text {
    margin-bottom: 0;
  }
}
.about__text:not(:last-child) {
  margin-bottom: 1.38rem;
}
@media (min-width: 48rem) {
  .about__text:not(:last-child) {
    margin-bottom: 1.56rem;
  }
}
.about__img {
  max-width: 16.31rem;
  height: auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
@media (min-width: 48rem) {
  .about__img {
    max-width: 18.75rem;
    height: auto;
  }
}
@media (min-width: 80rem) {
  .about__img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

/*our friends section*/
.our-friends {
  background-color: #f6f6f6;
}
.our-friends__wrapper {
  padding-top: 2.56rem;
  padding-bottom: 2.63rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .our-friends__wrapper {
    padding-top: 5rem;
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 80rem) {
  .our-friends__wrapper {
    padding-top: 4.88rem;
  }
}
.our-friends__title {
  font-size: 1.56rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 2.56rem;
}
@media (min-width: 48rem) {
  .our-friends__title {
    font-size: 2.19rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 3.63rem;
  }
}
.our-friends__slider {
  margin-bottom: 2.69rem;
}
@media (min-width: 48rem) {
  .our-friends__slider {
    margin-bottom: 3.63rem;
  }
}

/*help section*/
.help__wrapper {
  padding-top: 2.63rem;
  padding-bottom: 2.63rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .help__wrapper {
    padding-top: 4.94rem;
    padding-bottom: 6.25rem;
  }
}
.help__title {
  font-size: 1.56rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 2.5rem;
}
@media (min-width: 48rem) {
  .help__title {
    font-size: 2.19rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 3.63rem;
  }
}
@media (min-width: 80rem) {
  .help__list {
    padding: 0 5.06rem;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.75rem;
  padding: 0 0.31rem;
}
@media (min-width: 48rem) {
  .list {
    padding: 0 2.38rem;
  }
}
@media (min-width: 80rem) {
  .list {
    padding: 0;
  }
}
@media (max-width: 48rem) {
  .list__item {
    width: 8.13rem;
  }
}
@media (min-width: 48rem) {
  .list__item {
    width: 10.63rem;
  }
}
@media (min-width: 80rem) {
  .list__item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
@media (max-width: 48rem) {
  .list__icon {
    width: 3.25rem;
    height: 3.25rem;
  }
}
@media (min-width: 48rem) {
  .list__icon {
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (min-width: 80rem) {
  .list__icon {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
@media (min-width: 48rem) {
  .list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
    row-gap: 3.44rem;
  }
}
@media (min-width: 80rem) {
  .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 7.5rem;
       -moz-column-gap: 7.5rem;
            column-gap: 7.5rem;
    row-gap: 3.44rem;
  }
}
.list__icon {
  margin-bottom: 1.25rem;
}
@media (min-width: 48rem) {
  .list__icon {
    margin-bottom: 1.88rem;
  }
}
.list__title {
  font-size: 0.94rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}
@media (min-width: 48rem) {
  .list__title {
    font-size: 1.25rem;
    line-height: 115%;
  }
}

/*in-addition section*/
.in-addition {
  background-color: #f6f6f6;
}
.in-addition__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.88rem;
  padding-top: 2.63rem;
  padding-bottom: 2.63rem;
}
@media (min-width: 48rem) {
  .in-addition__wrapper {
    padding-top: 5rem;
    padding-bottom: 6.31rem;
  }
}
@media (min-width: 80rem) {
  .in-addition__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 5rem;
    padding-bottom: 6.19rem;
  }
}
.in-addition__img {
  width: 31.56rem;
  height: auto;
  max-width: 88%;
}
.in-addition__content {
  max-width: 23.75rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .in-addition__content {
    text-align: left;
  }
}
.in-addition__title {
  font-size: 1.56rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 1.44rem;
}
@media (min-width: 48rem) {
  .in-addition__title {
    font-size: 2.19rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 1.25rem;
  }
}
.in-addition__subtitle {
  margin-bottom: 1.5rem;
  font-size: 0.94rem;
}
@media (min-width: 48rem) {
  .in-addition__subtitle {
    margin-bottom: 1.25rem;
    letter-spacing: 0.06em;
  }
}
.in-addition__card {
  display: inline-block;
  margin-bottom: 1.13rem;
  padding: 0.63rem 0.94rem;
  background-color: #f1cdb3;
  border-radius: 0.56rem;
  font-size: 0.94rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media (hover: hover) {
  .in-addition__card:hover {
    background-color: #fddcc4;
  }
}
@media (min-width: 48rem) {
  .in-addition__card {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 115%;
  }
}
.in-addition__icon {
  margin-right: 0.63rem;
}
.in-addition__text {
  font-family: "Arial";
  font-style: italic;
  font-weight: normal;
  font-size: 0.75rem;
  text-align: justify;
  line-height: 150%;
  color: #b2b2b2;
}
@media (max-width: 48rem) {
  .in-addition__text {
    margin-bottom: 0.75rem;
    padding: 0 0.63rem;
  }
}
@media (min-width: 48rem) {
  .in-addition__text {
    text-align: left;
    margin-bottom: 1.75rem;
    padding: 0;
  }
}
@media (min-width: 80rem) {
  .in-addition__text {
    margin-bottom: 0;
  }
}

/*pages-pets*/
.header-pets .logo__subtitle {
  color: #292929;
}
.header-pets .logo:hover {
  color: #292929;
}
.header-pets .navigation__link:hover {
  color: #292929;
}

/*friends section*/
.friends {
  background-color: #f6f6f6;
  padding-top: 5rem;
  padding-bottom: 6.31rem;
  text-align: center;
}
.friends__title {
  margin-bottom: 3.56rem;
}
.friends__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.44rem;
     -moz-column-gap: 2.44rem;
          column-gap: 2.44rem;
  row-gap: 1.69rem;
  margin-bottom: 3.56rem;
}