/*help section*/

.help {
  &__wrapper {
    padding-top: toRem(42);
    padding-bottom: toRem(42);
    text-align: center;
    @include tablet {
      padding-top: toRem(79);
      padding-bottom: toRem(100);
    }
  }
  &__title {
    @include subtitle-mobile;
    margin-bottom: toRem(40);
    @include tablet {
      @include subtitle;
      margin-bottom: toRem(58);
    }
  }
  &__list {
    @include decstope {
      padding: 0 toRem(81);
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: toRem(28);
  padding: 0 toRem(5);
  @include tablet {
    padding: 0 toRem(38);
  }
  @include decstope {
    padding: 0;
  }
  &__item {
    @include max-tablet {
      width: toRem(130);
    }
    @include tablet {
      width: toRem(170);
    }
    @include decstope {
      width: max-content;
    }
  }
  &__icon {
    @include max-tablet {
      width: toRem(52);
      height: toRem(52);
    }
    @include tablet {
      width: toRem(60);
      height: toRem(60);
    }
    @include decstope {
      width: max-content;
      height: max-content;
    }
  }
  @include tablet {
    column-gap: toRem(60);
    row-gap: toRem(55);
  }

  @include decstope {
    justify-content: center;
    column-gap: toRem(120);
    row-gap: toRem(55);
  }

  &__icon {
    margin-bottom: toRem(20);
    @include tablet {
      margin-bottom: toRem(30);
    }
  }

  &__title {
    font-size: toRem(15);
    line-height: 110%;
    letter-spacing: 0.06em;
    @include tablet {
      font-size: toRem(20);
      line-height: 115%;
    }
  }
}
