/*in-addition section*/

.in-addition {
  background-color: $color-light-1;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: toRem(30);
    padding-top: toRem(42);
    padding-bottom: toRem(42);
    @include decstope {
      flex-direction: row;
      padding-top: toRem(80);
      padding-bottom: toRem(99);
    }
  }
  &__img {
    width: toRem(505);
    height: auto;
    max-width: 88%;
  }
  &__content {
    max-width: toRem(380);
    text-align: center;
    @include decstope {
      text-align: left;
    }
  }
  &__title {
    @include subtitle-mobile;
    margin-bottom: toRem(23);
    @include decstope {
      @include subtitle;
      margin-bottom: toRem(20);
    }
  }
  &__subtitle {
    margin-bottom: toRem(24);
    font-size: toRem(15);
    @include decstope {
      margin-bottom: toRem(20);
      letter-spacing: 0.06em;
    }
  }
  &__card {
    display: inline-block;
    margin-bottom: toRem(18);
    padding: toRem(10) toRem(15);
    background-color: $color-primary;
    border-radius: toRem(9);
    font-size: toRem(15);
    line-height: 130%;
    letter-spacing: 0.06em;
    transition: $transition;
    @include hover {
      &:hover {
        background-color: $color-primary-light;
      }
    }
    @include decstope {
      margin-bottom: toRem(20);
      font-size: toRem(20);
      line-height: 115%;
    }
  }
  &__icon {
    margin-right: toRem(10);
  }

  &__text {
    @include arial-italic;
    font-size: toRem(12);
    text-align: justify;
    line-height: 150%;
    color: $color-dark-m;
    @include tablet {
      text-align: left;
    }
    @include max-tablet {
      margin-bottom: toRem(12);
      padding: 0 toRem(10);
    }
  }
}
