/*not-only section*/

.not-only {
  background-image: $background-start;
  width: 100%;
  margin-top: toRem(-122);
  overflow-x: hidden;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include decstope {
      padding-top: toRem(182);
      justify-content: space-between;
    }
  }
  &__content {
    max-width: toRem(460);
    margin-top: toRem(152);
    text-align: center;
    @include tablet {
      margin-top: toRem(152);
    }
    @include decstope {
      text-align: left;
      margin-top: toRem(163);
    }
  }
  &__title {
    margin-bottom: toRem(40);
    font-size: toRem(25);
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-white;
    @include tablet {
      text-align: left;
      font-size: toRem(44);
      letter-spacing: 0;
      margin-bottom: toRem(42);
    }
  }
  &__text {
    @include text;
    margin-bottom: toRem(42);
    color: $color-light-l;
    @include tablet {
      text-align: left;
    }
  }
  &__button {
    display: inline-block;
    margin-bottom: toRem(105);
    @include tablet {
      margin-bottom: toRem(94);
    }
    @include decstope {
      margin-bottom: 0;
    }
  }

  &__img {
    min-width: toRem(260);
    max-width: toRem(569);
    height: auto;
    margin-left: 13%;
    @include tablet {
      margin-left: 19%;
      max-width: toRem(699);
    }
    @include decstope {
      width: toRem(698);
      height: toRem(728);
      margin-left: 0;
    }
  }
}
