/*not-only section*/

.not-only {
  background-image: $background-start;
  width: 100%;
  margin-top: toRem(-122);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: toRem(182);
  }
  &__content {
    max-width: toRem(460);
    margin-top: toRem(163);
  }
  &__title {
    max-width: toRem(310);
    margin-bottom: toRem(42);
    font-size: toRem(44);
    line-height: 130%;
    color: $color-white;
  }
  &__text {
    margin-bottom: toRem(42);
    color: $color-light-s;
  }
  &__button {
    display: inline-block;
  }
}
