/* components-buttons */

.button {
  padding: toRem(15) toRem(45);
  border-radius: toRem(100);
  background-color: $color-primary;
  color: $color-dark-3xl;
  font-size: toRem(17);
  letter-spacing: 0.06em;
  line-height: 130%;
  transition: $transition;
  &:hover {
    border: 2px solid $color-primary;
    background-color: transparent;
  }
}

.button-outline {
  @include georgia-normal;
  background-color: $color-light-s;
  border: 2px solid $color-primary;
}
