/* components-card */

.card {
  width: toRem(270);
  min-height: toRem(435);
  padding-bottom: toRem(30);
  background-color: $color-light-s;
  border-radius: toRem(9);
  text-align: center;
  transition: $transition;
  cursor: pointer;
  &__img {
    margin-bottom: toRem(30);
    max-width: 100%;
    height: auto;
  }
  &__title {
    font-size: toRem(20);
    line-height: px-to-percent(24, 20);
    margin-bottom: toRem(28);
    letter-spacing: 0.06em;
  }
  &__button {
    letter-spacing: 0.06em;
    transition: $transition;
    cursor: pointer;
  }
  &:hover {
    background-color: $color-white;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  &:hover &__button {
    border: 2px solid $color-primary-light;
    background-color: $color-primary-light;
  }
  &:active &__button {
    background-color: $color-white;
  }
}
