.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;

  &__wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: toRem(240);
    min-height: toRem(341);
    background-color: $color-light-s;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    border-radius: toRem(9);
    @include tablet {
      width: toRem(630);
      min-height: toRem(350);
    }
    @include decstope {
      width: toRem(900);
      min-height: toRem(500);
    }
  }

  &__close-btn {
    position: absolute;
    top: toRem(-52);
    right: toRem(-30);
    width: toRem(52);
    height: toRem(52);
    border: 2px solid $color-primary;
    border-radius: toRem(100);
    background-color: transparent;
    color: $color-dark-3xl;
    font-size: toRem(20);
    cursor: pointer;
    transition: $transition;
    &:active {
      color: $color-dark-m;
    }
    @include hover {
      &:hover {
        background-color: $color-primary-light;
      }
    }
    @include tablet {
      top: toRem(-55);
      right: toRem(-42);
    }
  }

  &__img-box {
    display: none;
    overflow: hidden;

    @include tablet {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: toRem(9);
      width: toRem(350);
      height: auto;
    }
    @include decstope {
      width: toRem(500);
      height: auto;
    }
  }

  &__img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: cover;
  }

  &__content {
    padding: toRem(10);
    @include subtitle;
    text-align: center;
    color: $color-black;
    @include tablet {
      max-width: toRem(280);
      text-align: left;
    }
    @include decstope {
      max-width: toRem(380);
      padding: toRem(50) toRem(10) toRem(60);
    }
  }

  &__subtitle {
    letter-spacing: 0.06em;
    margin-bottom: toRem(8);
    font-size: toRem(20);

    @include decstope {
      margin-bottom: toRem(25);
      font-size: toRem(20);
    }
  }
  &__text {
    font-size: toRem(13);
    line-height: 110%;
    letter-spacing: 0.06em;
    text-align: justify;
    margin-bottom: toRem(16);
    @include tablet {
      text-align: left;
    }
    @include decstope {
      font-size: toRem(15);
      letter-spacing: 0.07em;
      margin-bottom: toRem(48);
    }
  }
  &__list {
    font-size: toRem(15);
    line-height: 160%;
    color: $color-primary;
    letter-spacing: 0.06em;
    margin-left: toRem(11);
    @include decstope {
      line-height: 170%;
    }
  }
}
.list-modal {
  text-align: left;

  &__item {
    display: list-item;
    list-style: disc;
  }
  &__title {
    @include georgia-bold;
    color: $color-black;
  }
  &__value {
    color: $color-black;
  }
}
