/* components-navigation */

.navigation {
  @include tablet {
    display: flex;
    gap: toRem(35);
    &__link {
      @include text;
      line-height: 160%;
      transition: $transition;
      &_active {
        border-bottom: 3px solid $color-primary;
      }
    }
  }
}
