.pagination {
  display: flex;
  justify-content: center;
  column-gap: toRem(20);
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(52);
    height: toRem(52);
    border: 2px solid $color-primary;
    border-radius: 100px;
    font-size: toRem(20px);
    color: $color-dark-3xl;
    cursor: pointer;
    transition: $transition;
    &:hover {
      background-color: $color-primary;
    }
    &__inactive {
    }
  }
}
