/*pagination components*/

.pagination {
  display: flex;
  justify-content: center;
  column-gap: toRem(20);
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(52);
    height: toRem(52);
    border: 2px solid $color-primary;
    border-radius: 100px;
    font-size: toRem(20px);
    color: $color-dark-3xl;
    cursor: pointer;
    transition: $transition;
    &:not(.pagination__icon_inactive):not(.pagination__number):hover {
      background-color: $color-primary;
    }
    &_inactive {
      border-color: $color-light-l;
      color: $color-light-l;
      cursor: default;
    }
  }
  &__number {
    background-color: $color-primary;
  }
}
